.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.register-form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 30px;
  margin: 50px 10px;
}

.register-form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.register-form-group {
  margin-bottom: 15px;
  text-align: left;
  display: block;
}

.register-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.register-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
}

.register-error-message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
}

.register-submit-button {
  background-color: #04005D;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.register-submit-button:hover {
  background-color: #18609a;
}

.register-login-link {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  color: #007BFF;
  text-decoration: none;
}

.register-login-link:hover {
  text-decoration: underline;
}